<div class="row">
  <div class="col-xs-12">
    <button class="bt btn-success">New recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <a href="" class="list-group-item clearfix" *ngFor="let recipe of recipeitems">
      <span class="pull-left">
        <h4 class="list-group-heading">{{recipe.name}}</h4>
        <p class="list-group-item-text">{{recipe.description}}</p>
      </span>
      <span class="pull-right">
        <img [src]="recipe.picture" alt="" class="img-responsive" style="max-height:100px;">
      </span>
    </a>
  </div>
</div>



<!--<app-recipeitem></app-recipeitem>-->