<!--<app-header></app-header>
<div class="wrapper">
  <div class="container test21">
    <div class="row">
      <div class="col-md-6">
       <span style="background:red;"> {{hc.headel}}    </span>
       <button class="btn btn-primary" (click)="passtoservice()">get name</button>
        <app-recipeslist></app-recipeslist>
      </div>
      <div class="col-md-6">
        <app-recipesdetail></app-recipesdetail>
      </div>
      <div class="col-md-6">
         <app-shoppinglist></app-shoppinglist>
      </div>
    </div>
  </div>
</div>
<div *ngIf="profile !=undefined">
hellooo
<ul *ngFor="let users of profile">
  <li class="list-group-item">{{users.name}}</li>
</ul>

</div>-->

<div class="wrapper">
  <div class="container test21">
    <div class="row">
      <div class="col-md-12">
        <div class="">
            <input type="search" placeholder="Enter your favourite song name here..." #itunesearchteerm>
            <button class="btn btn-primary" (click)="searchsong(itunesearchteerm.value)">SEARCH song</button>
            <div class="">
                <ul class="list-group">
                    <li class="list-group-item pull-left" *ngFor="let song of songdetails.results" style="width:100%;">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-left">
                                    <img src="{{song.artworkUrl60}}" class="responsive-img">
                                </div>
<div class="pull-right" style="text-overflow: ellipsis;    white-space: nowrap;    overflow: hidden;    width: 70%;">
<h4 class="text-primary" style="text-overflow: ellipsis;overflow: hidden;">{{song.trackCensoredName}}</h4>

<div class="text-success" style="text-overflow: ellipsis;overflow: hidden;">{{song.artistName}}</div>

<i style="text-overflow: ellipsis;overflow: hidden;">{{song.collectionCensoredName}}</i>

                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!--<app-register></app-register>-->
      </div>
    </div>
  </div>
</div>
